.global-login {
	background-color: #d6dee4;
}
.global-login .hero {
	padding: 40px 0;
}
.global-login h1 {
	color: #2b5d84;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
.global-login h1 em {
	display: block;
	font-size: 92px;
	font-style: normal;
}
.global-login .btn-linkedin-signin {
	display: block;
	background: url('../images/linkedin-sign.png') no-repeat center center transparent;
	background-size: 100% 100%;
	height: 40px;
	width: 215px;
	margin: 60px auto;
}

.global-home {
	background-color: #FFFFFF;
}
.global-home .well {
	margin: 40px 0;
}