extends ../includes/layout

block main-content
	.container.global-login
		.row
			.col-md-6.col-md-offset-3.col-sm-12.col-xs-12
				.hero
					h1
						| Welcome to
						em
							| Big Mic
					a(href='/api/linkedin' class="btn-linkedin-signin")